body {
  background-image: url(../images/wood_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#container {
  font-family: "Noto Sans JP", sans-serif;
  width: 400px;
  margin: 40px auto 0;
  padding: 50px;
  box-sizing: border-box;
  background-color: #532827;
  box-shadow: 0 10px 15px -8px #000;
  border-radius: 5px;
  text-align: center;
}

h1 {
  font-family: "Nanum Pen Script", cursive;
  margin: 0 0 20px;
  padding: 0 0 20px;
  /* border-bottom: solid 1px #ddd; */
}

form {
  text-align: left;
}

form input,
form select {
  padding: 8px;
  margin: 10px 0;
}

form label {
  display: block;
  margin: 25px 0;
  font-weight: bold;
}

select {
  background-color: #fff;
}

select:hover {
  background-color: #a7aeaf;
}

form input[type="text"] {
  background-color: #fff;
  width: 90px;
}

form input:hover {
  background-color: #a7aeaf;
}

button {
  background: #445336;
  color: white;
  border: none;
  border-bottom: solid 4px #222;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 30px;
  width: 100%;
}

button:hover {
  background: #2d3624;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 1px;
}

#totalTip {
  font-size: 50px;
  margin-top: 40px;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 24px;
  top: -18px;
}

#totalTip small {
  font-size: 14px;
  font-weight: bold;
  display: block;
}
